# Setup

In [3]:
contacts_df = pd.read_csv('../data/contacts.tsv', delimiter='\t')
searches_df = pd.read_csv('../data/searches.tsv', delimiter='\t')

In [5]:
searches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35737 entries, 0 to 35736
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ds                    35737 non-null  object
 1   id_user               35737 non-null  object
 2   ds_checkin            23888 non-null  object
 3   ds_checkout           23888 non-null  object
 4   n_searches            35737 non-null  int64
 5   n_nights              23888 non-null  float64
 6   n_guests_min          35737 non-null  int64
 7   n_guests_max          35737 non-null  int64
 8   origin_country        35737 non-null  object
 9   filter_price_min      13322 non-null  float64
 10  filter_price_max      13322 non-null  float64
 11  filter_room_types     16191 non-null  object
 12  filter_neighborhoods  1346 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 3.5+ MB

In [6]:
searches_df[searches_df['filter_neighborhoods'].isna() == False]

,ds,id_user,ds_checkin,ds_checkout,n_searches,n_nights,n_guests_min,n_guests_max,origin_country,filter_price_min,filter_price_max,filter_room_types,filter_neighborhoods
48,2014-10-01,02cafb86-5445-45cc-80f2-405291578356,2014-11-01,2014-11-30,2,29.0,2,2,IE,NaN,NaN,NaN,",North City Central/O'Connell Street,Clontarf"
50,2014-10-01,034acf8b-056e-483c-9064-735b064bc22a,2014-10-18,2014-10-21,7,3.0,2,2,GB,0.0,326.0,NaN,",City Centre"
67,2014-10-01,045782ae-8a09-4a56-83b0-60f279657264,2014-12-01,2014-12-10,3,9.0,1,1,US,NaN,NaN,NaN,",City Centre,Ballsbridge,Grafton Street/St. St..."
145,2014-10-01,0bee68c2-c43c-43d8-944a-49ef5e690d7c,2015-03-21,2015-03-24,23,3.0,1,6,FR,0.0,263.0,",Entire home/apt",",City Centre"
157,2014-10-01,0d2f5ae1-a490-4f38-acfb-f809b3a68015,2014-10-05,2014-10-08,41,3.0,2,2,IE,0.0,100.0,",Entire home/apt,Private room,Private room,Sha...",",Ranelagh and Rathmines"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35573,2014-10-14,f1e24465-2c1e-4a8d-ade0-39ed9f9eb56c,2014-10-26,2014-10-28,7,2.0,1,2,IE,NaN,NaN,NaN,",Ranelagh and Rathmines"
35607,2014-10-14,f423bdda-6f61-4876-b35e-17ab1d649cd9,2014-12-31,2015-01-04,11,4.0,2,2,NL,0.0,124.0,",Entire home/apt",",City Centre"
35611,2014-10-14,f4888f08-6737-4b1d-959d-6e4c73009831,NaN,NaN,1,NaN,1,1,IE,NaN,NaN,NaN,Stoneybatter/Arbour Hill
35614,2014-10-14,f4ed7b9b-286d-40ec-b946-e81e9a2bf0f2,NaN,NaN,6,NaN,1,1,IE,NaN,NaN,",Entire home/apt",",Docklands"
35694,2014-10-14,fc63e545-08a6-48bf-939b-9faf718f0dac,2014-11-21,2014-11-23,46,2.0,2,2,GB,NaN,NaN,",Entire home/apt",",City Centre"

In [7]:
searches_df.head()

,ds,id_user,ds_checkin,ds_checkout,n_searches,n_nights,n_guests_min,n_guests_max,origin_country,filter_price_min,filter_price_max,filter_room_types,filter_neighborhoods
0,2014-10-01,0000af0a-6f26-4233-9832-27efbfb36148,2014-10-09,2014-10-12,16,3.0,2,2,IE,0.0,67.0,",Entire home/apt,Entire home/apt,Private room,...",NaN
1,2014-10-01,0000af0a-6f26-4233-9832-27efbfb36148,2014-10-09,2014-10-19,3,10.0,1,2,IE,0.0,67.0,NaN,NaN
2,2014-10-01,000cd9d3-e05b-4016-9e09-34a6f8ba2fc5,NaN,NaN,1,NaN,1,1,GB,NaN,NaN,NaN,NaN
3,2014-10-01,000cd9d3-e05b-4016-9e09-34a6f8ba2fc5,2014-11-08,2014-11-10,11,2.0,1,2,GB,NaN,NaN,",Entire home/apt",NaN
4,2014-10-01,001c04f0-5a94-4ee0-bf5d-3591265256de,NaN,NaN,1,NaN,1,1,IE,NaN,NaN,NaN,NaN

In [8]:
contacts_df.shape

(7823, 11)

In [9]:
searches_df.shape

(35737, 13)

# Pre-Processing

In [10]:
ts_match = r'(\d{4})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2}).\d'

contacts_df['time_to_reply'] = 0

for i, row in contacts_df.iterrows():
    contact_ts = row['ts_contact_at']

    reply_ts = row['ts_reply_at']

    if type(reply_ts) == float or contact_ts == reply_ts:
        continue

    c_match = re.match(ts_match, contact_ts)
    if c_match: 
        y,m,d,h,min,s = c_match.groups()

    r_match = re.match(ts_match, reply_ts)
    if r_match:
        yr,mr,dr,hr,minr,sr = r_match.groups()
        
    dt_contact = datetime.datetime(int(y), int(m), int(d), int(h), int(min), int(s))
    dt_reply = datetime.datetime(int(yr), int(mr), int(dr), int(hr), int(minr), int(sr))
    time_diff = dt_reply - dt_contact

    contacts_df.loc[i, 'time_to_reply'] = time_diff.total_seconds()

In [11]:
# time from accepting to booking

contacts_df['time_to_book'] = 0

for i, row in contacts_df.iterrows():
    accept_ts = row['ts_accepted_at']

    booking_ts = row['ts_booking_at']

    if type(accept_ts) == float or type(booking_ts) == float or accept_ts == booking_ts:
        continue

    a_match = re.match(ts_match, accept_ts)
    if a_match: 
        y,m,d,h,min,s = a_match.groups()

    b_match = re.match(ts_match, booking_ts)
    if b_match:
        yb,mb,db,hb,minb,sb = b_match.groups()

    dt_accept = datetime.datetime(int(y), int(m), int(d), int(h), int(min), int(s))
    dt_booking = datetime.datetime(int(yb), int(mb), int(db), int(hb), int(minb), int(sb))
    time_diff = dt_booking - dt_accept

    print(time_diff.total_seconds())

    contacts_df.loc[i, 'time_to_book'] = time_diff.total_seconds()

9296.0
1696.0
1721357.0
678764.0
1042.0
59154.0
96504.0
77074.0
3822.0
571.0
67989.0
259253.0
203.0
8784.0
13532.0
29703.0
123572.0
2341.0
5244.0
106311.0
183468.0
1520.0
92340.0
72863.0
539.0
18712.0
5174.0
65111.0
516.0
8556.0
19232.0
7283.0
73215.0
329.0
80907.0
27425.0
52245.0
9826.0
4678810.0
53206.0
59461.0
1039.0
391.0
1237.0
158208.0
49963.0
386710.0
467420.0
69982.0
285.0
3313.0
38515.0
48398.0
74239.0
10905.0
69449.0
359.0
85129.0
904.0
174.0
44781.0
15054.0
103.0
698.0
9130.0
426590.0
781407.0
66350.0
182538.0
85740.0
35606.0
11731.0
119117.0
455.0
25748.0
1234880.0
489.0
254893.0
4121.0
36943.0
2224.0
808.0
1845.0
77636.0
722.0
1936.0
25941.0
157.0
459.0
9467.0
62321.0
36202.0
4928.0
2037.0
161887.0
130116.0
49682.0
2296.0
5726.0
168.0
978.0
56755.0
32915.0
28058.0
36872.0
2996.0
4857.0
6957.0
7785187.0
11910.0
1274.0
37690.0
87879.0
3941.0
80800.0
56565.0
245664.0
235.0
8018.0
6324.0
28852.0
2085.0
5557.0
22581.0
18078.0
72097.0
275.0
58250.0
473641.0
1105718.0
14137.0
1575347.0
25083.0
66423.0
1049746.0
168246.0
78348.0
168668.0
73.0
379405.0
68954.0
298396.0
8357.0
685.0
641591.0
112413.0
5752.0
72663.0
29593.0
283620.0
9254.0
20439.0
19459.0
10356.0
8732.0
235.0
312402.0
122528.0
542.0
756.0
167214.0
30698.0
160031.0
23392.0
126002.0
224429.0
373276.0
524770.0
44311.0
32341.0
422304.0
554.0
95098.0
49378.0
24581.0
988.0
1415.0
2113.0
69840.0
25399.0
8540.0
31249.0
1781.0
8324.0
2001.0
165.0
27603.0
167992.0
51010.0
9857.0
8987.0
15962.0
1475.0
3404.0
52282.0
15030.0
47186.0
72490.0
189838.0
3386.0
145.0
1340.0
46752.0
1853.0
65466.0
31893.0
12075.0
89887.0
14374.0
130639.0
3700.0
32392.0
12599.0
9236.0
45316.0
38539.0
434.0
3246388.0
259882.0
9004.0
46783.0
21868.0
34122.0
2863.0
114865.0
3643.0
2894.0
165215.0
1042.0
4792.0
31354.0
26043.0
27770.0
2168.0
223372.0
21303.0
30814.0
14282.0
17140.0
169.0
508.0
11792.0
65257.0
2761.0
510407.0
2144.0
51227.0
39633.0
78827.0
69347.0
350.0
141078.0
6206.0
27363.0
2707.0
76838.0
441870.0
1478.0
1297.0
4626.0
3142.0
13937.0
305.0
358708.0
27988.0
1654.0
1605.0
859538.0
52425.0
75233.0
3571958.0
1220.0
75512.0
71395.0
42310.0
2675.0
5026.0
1250.0
159925.0
1422.0
2327.0
55137.0
161995.0
85887.0
588586.0
53947.0
38570.0
37952.0
307.0
36387.0
74572.0
125.0
18593.0
64609.0
3952.0
15944.0
12850.0
41218.0
1109.0
6358.0
2963.0
4555.0
76177.0
43870.0
19028.0
9403.0
24714.0
108694.0
87789.0
108.0
4068.0
5985.0
36481.0
156.0
77702.0
157139.0
101939.0
6116.0
7570.0
6844.0
93752.0
1116670.0
51952.0
745988.0
2183.0
10186.0
25568.0
2908.0
19665.0
1460.0
12797.0
46575.0
809.0
181996.0
423389.0
277059.0
149077.0
72333.0
2883.0
8105.0
18793.0
3455.0
153.0
13994.0
13885.0
79430.0
175595.0
84626.0
6628.0
65061.0
705.0
179317.0
766196.0
68448.0
30972.0
265.0
144.0
43550.0
5389.0
79711.0
34496.0
11204.0
43703.0
94667.0
31082.0
39137.0
96842.0
72398.0
5157.0
130300.0
17403.0
605.0
33545.0
27843.0
45305.0
11438.0
2882519.0
1267.0
82515.0
97931.0
33776.0
47332.0
38118.0
675.0
77479.0
86151.0
71971.0
25309.0
25732.0
11772.0
64124.0
256897.0
6263.0
28218.0
143.0
119390.0
151884.0
3977.0
16942.0
75686.0
11619.0
42137.0
205511.0
121.0
169466.0
101260.0
13760.0
124797.0
2270.0
113.0
26390.0
107729.0
24185.0
11837.0
14645.0
1015635.0
80124.0
35596.0
337093.0
259701.0
48746.0
1491.0
643.0
70.0
1145657.0
151379.0
251867.0
25893.0
272289.0
22332.0
83649.0
2445.0
247152.0
65931.0
66319.0
39476.0
2480.0
219785.0
90872.0
68806.0
78079.0
30711.0
6320.0
497558.0
41763.0
207970.0
249420.0
217597.0
463.0
250791.0
78879.0
1377476.0
190463.0
6480.0
84302.0
3851.0
38475.0
53829.0
5720.0
75499.0
7844.0
13096.0
506201.0
24569.0
44203.0
1981.0
29549.0
50465.0
1951.0
8358.0
16778.0
72879.0
576275.0
391119.0
8377.0
384.0
173598.0
53104.0
85429.0
52498.0
8601.0
75135.0
552.0
265043.0
33993.0
3052.0
2511.0
4082.0
12530.0
831.0
5311.0
23047.0
597630.0
235925.0
190811.0
6220.0
19781.0
5165.0
2976.0
2909.0
23799.0
444687.0
11779.0
1523.0
23972.0
340550.0
-10298.0
23891.0
93974.0
53308.0
29795.0
150.0
1625106.0
66024.0
6978.0
530.0
71260.0
599732.0
5469.0
5444619.0
4692.0
346699.0
34730.0
16153.0
694.0
46392.0
103836.0
86678.0
99305.0
36970.0
1268.0
50760.0
483474.0
90278.0
104758.0
38343.0
42638.0
992.0
40297.0
371.0
406511.0
912.0
171466.0
2885.0
18525.0
5597.0
5900.0
306310.0
15738.0
9041.0
99866.0
664.0
43190.0
949889.0
3098.0
6755.0
150539.0
1761.0
110142.0
246724.0
68501.0
125242.0
1036802.0
2146.0
3187.0
82415.0
39362.0
44157.0
43950.0
260021.0
37186.0
81757.0
27215.0
4754.0
7440.0
262.0
37571.0
206680.0
69058.0
167174.0
22412.0
3065.0
111.0
70837.0
79412.0
36109.0
1206.0
75584.0
73329.0
22271.0
507.0
175679.0
134.0
140672.0
14904.0
65580.0
4540.0
12559.0
25564.0
146921.0
611.0
236933.0
443.0
676676.0
7508.0
6118.0
109205.0
800146.0
127232.0
62530.0
38460.0
83077.0
62372.0
993960.0
4979.0
1280.0
1398.0
81241.0
71359.0
69235.0
3528299.0
5741.0
82828.0
585500.0
425382.0
139930.0
77575.0
866.0
453836.0
29830.0
1316.0
634.0
432657.0
11391.0
2415.0
4029.0
3803.0
85231.0
279.0
450.0
8703.0
71646.0
1830.0
1301.0
41866.0
533012.0
83627.0
19345.0
6893.0
6018.0
34185.0
103523.0
5263.0
888151.0
1005.0
331436.0
252.0
942.0
36437.0
1967.0
2378554.0
3663.0
91468.0
205921.0
3143.0
327196.0
9878.0
41396.0
166456.0
5469.0
2107.0
252021.0
1973.0
11251.0
74336.0
604820.0
92400.0
8452.0
16856.0
100943.0
616457.0
1574003.0
10056.0
21505.0
23794.0
118984.0
6215.0
628769.0
17632.0

In [12]:
contacts_df

,id_guest,id_host,id_listing,ts_contact_at,ts_reply_at,ts_accepted_at,ts_booking_at,ds_checkin,ds_checkout,n_guests,n_messages,time_to_reply,time_to_book
0,000dfad9-459b-4f0b-8310-3d6ab34e4f57,13bb24b8-d432-43a2-9755-5ea11b43bb69,21d2b1a2-fdc3-4b4c-a1f0-0eaf0cc02370,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-04 16:26:28.0,2014-10-13,2014-10-15,2,13,0,0
1,00197051-c6cb-4c3a-99e9-86615b819874,46aa3897-9c00-4d76-ac66-a307593d0675,fb5ed09a-9848-4f2c-b2ef-34deb62164fb,2014-11-04 09:10:03.0,2014-11-04 09:45:50.0,2014-11-04 09:45:50.0,2014-11-04 12:20:46.0,2014-11-27,2014-11-30,1,10,2147,9296
2,0027538e-aa9e-4a02-8979-b8397e5d4cba,6bbb88ca-db66-48c5-9c4b-862f7706284a,d3871da6-8012-4dc4-b508-c91f2c10c297,2014-10-10 12:02:50.0,2014-10-10 15:07:01.0,NaN,NaN,2014-10-17,2014-10-19,2,3,11051,0
3,0027538e-aa9e-4a02-8979-b8397e5d4cba,8772bc85-a9b7-4d85-a52d-41f3620c2912,0d9b5583-8053-4b67-adfe-8c29eb12efed,2014-10-10 15:23:53.0,NaN,NaN,NaN,2014-10-17,2014-10-19,2,2,0,0
4,0027538e-aa9e-4a02-8979-b8397e5d4cba,ac162061-55e2-4072-ac91-2e080f9581f2,ec68e0af-b0f2-42c7-b6f8-d41061c083ff,2014-10-10 15:22:26.0,2014-10-10 15:24:26.0,2014-10-10 15:24:26.0,2014-10-10 15:52:42.0,2014-10-17,2014-10-19,2,14,120,1696
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7818,ffe366f0-6ab6-4e94-818a-c69c125fed3c,8be6bf94-aeb3-4a51-8ac4-db60baedfea1,7732bad8-e800-49f3-8751-e7604e3fb5a3,2014-10-07 21:43:00.0,2014-10-08 08:19:33.0,2014-10-08 08:19:33.0,NaN,2014-10-17,2014-10-20,2,5,38193,0
7819,ffe366f0-6ab6-4e94-818a-c69c125fed3c,b92639c1-a5a8-48f6-8484-4fe6f62d1c6d,cc3a6bd4-d64f-4cbe-b947-c36c3851b487,2014-10-13 15:38:28.0,2014-10-13 15:44:56.0,NaN,NaN,2014-10-17,2014-10-20,2,5,388,0
7820,ffe366f0-6ab6-4e94-818a-c69c125fed3c,d0b6d89a-4379-43f2-9560-4943df5b8f4f,6e5b4380-66d2-4f2a-8f89-d2794598997d,2014-10-13 15:40:49.0,2014-10-13 15:42:46.0,NaN,NaN,2014-10-17,2014-10-20,2,3,117,0
7821,ffe366f0-6ab6-4e94-818a-c69c125fed3c,f86bc9ab-e199-4254-8609-fd67d6aaed42,28caf371-6d1d-4e06-aaf1-e660966ac7a1,2014-10-07 21:30:31.0,2014-10-08 19:04:43.0,NaN,NaN,2014-10-17,2014-10-20,2,2,77652,0
7822,fffea166-9432-43a7-8b1b-09d6f30c1c07,6d656267-642e-4972-bdec-a35d82b84ebb,90dddef6-23ef-4df3-b454-8fd3d0e8cade,2014-10-08 00:05:05.0,2014-10-12 20:58:12.0,NaN,NaN,2014-11-11,2014-11-18,2,2,420787,0

In [13]:
contacts_df.to_csv('../data/processed/contacts_processed.csv')